.menu {
    align-items: flex-start;
    background: rgba(0,0,0,.3);
    bottom: 0;
    cursor: pointer;
    display: flex;
    left: 0;
    opacity: 0;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 0;
    transition: visibility .5s ease-in-out,opacity .5s ease-in-out;
    visibility: hidden;
    z-index: 16;
    width: 100%;
}

.menu_active {
    opacity: 1;
    visibility: visible;
}

.menu__box {
    background-color: #202020;
    cursor: default;
    position: relative;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    transform:translateX(+100%);
    transition: .5s ease-in-out;
}

.menu__box_active {
    transform:translateX(0%) ;
    transition: .5s ease-in-out;
}

.menu__close-button {
    width: 22px;
    height: 22px;
    margin: 22px 22px 0 0;
    align-self: flex-end;
    transition: opacity .25s linear;
    cursor: pointer;
}

.menu__close-button:hover {
    opacity: .8;
}

.menu__list {
    margin: 105px auto 92px;
    list-style: none;
    padding: 0;
}

.menu__list-item {
    margin-bottom: 28px;
    transition: opacity .25s linear;
    cursor: pointer;
}

.menu__list-item:hover {
    opacity: .8;
}

.menu__list-item:last-of-type {
    margin-top: 621px;
    margin-bottom: 0;
}

.menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.menu__link_active {
    text-decoration: underline;
}

.sidebar__overlay {
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    background: rgba(26,27,34,.8);
}

.sidebar__overlay_enabled {
    display: block;
    pointer-events: all;
    opacity: .95;
}

.sidebar__content {
    background-color: #202020;
    cursor: default;
    position: relative;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .menu__list {
        margin-top: 100px;
        margin-bottom: 48px;
    }

    .menu__list-item {
        margin-bottom: 24px;
    }

    .menu__list-item:last-of-type {
        margin-top: 444px;
    }

    .menu__close-button {
        margin-top: 13px;
        margin-right: 13px;
    }
}

