.card {
    width: 360px;
    background-color: #222222;
}
.card__image {
    height: 200px;
    width: 100%;
    margin: 0;
    object-fit: contain;
    object-position: center;
}
.card__heading {
    display: flex;
    justify-content: space-between;
    min-height: 54px;
}
.card__options {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__button-save {
    width: 100px;
    height: 29px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: opacity .25s linear;
}

.card__button-save:hover {
    opacity: .8;
}

.card__movie-info_type_name {
    font-weight: 500;
    font-size: 15px;
    margin-left: 18px;
    color: #FFFFFF;
    margin-right: 18px;
    text-align: left;
}
.card__movie-info {
    font-style: normal;
    line-height: 18px;
}
.card__movie-info_type_duration {
    font-weight: normal;
    font-size: 13px;
    color: #8B8B8B;
    margin-right: 18px;
}

@media screen and (max-width: 1174px) {
    .card {
        width: 342px;
    }
    .card__image {
        height: 190px;
    }
}

@media screen and (max-width: 740px) {
    .card {
        width: 300px;
    }

    .card__heading {
        min-height: 46px;
    }

    .card__movie-info_type_name {
        font-size: 12px;
        margin: 14px 0 14px 14px;
    }

    .card__movie-info_type_duration {
        font-size: 10px;
        color: #8B8B8B;
        margin: 14px 14px 14px 0;
    }

    .card__image {
        height: 168px;
    }

    .card__options {
        min-height: 57px;
    }
}
